p {
  word-wrap: break-word;
}

a {
  word-wrap: break-word;
}

body {
  margin: 0;
  background-color: #2C3E50;
  width: 100%;
  height: 100%;
}

header {
  width: 100%
  color: white;
  background: #34495E;
  min-height: 60px;
  max-height: 60px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 1px 5px 5px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}

header span{
  padding: 0;
  margin: 0;
}

.buttonIcons {
  color: initial;
  background: #34495E;
  outline: 0;
  border: 0;
  cursor: pointer;
  padding: 0;
  width: 60px;
  min-height: 60px;
  max-height: 60px;
  font-size: 24px;
}

.buttonsRight {
  float: right;
}


.buttonsLeft {
  float: left;
}

.buttonIcons i{
  margin: 0;
  color: white;
  font-size: 48px;
  width: 60px;
  min-height: 48px;
  max-height: 48px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.buttonIcons:focus, .buttonIcons:hover, .buttonIcons:active{

  background: #2C3E50;
  color: #1ABC9C;
}

.buttonIcons i:focus, .buttonIcons i:hover, .buttonIcons i:active{
  background: #2C3E50;
  color: #1ABC9C;
}


.checkboxes{
  box-sizing:border-box;
}


#login {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

body > header > * > a {
  text-align: center;
  text-decoration: none;
}

#accountButton{
  color:white;
  background-color: white;
}

/******** SideBar Part **********/
.sideBar {
  width: 0px;
  height: 100%;
  color: white;
  background: #34495E;

  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  border: 0 solid;
  border-top-width: 60px;

  padding-bottom: 10px;

  z-index: 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 1px 5px 5px 0 rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
  overflow-y: overlay;

  transition: 0.5s;
}

.sideBar form {
  transition: 0.3s;
}


.form {
  min-width: 240px;
  position: absolute;

  text-align: center;
  background: #34495E;
  padding: 30px;
  margin: 0 auto 0;


}

#listAddDiv input{
  font-family: 'Ubuntu', sans-serif;
  outline: 0;
  width: 80%;
  background: #2C3E50;
  color: #1ABC9C;
  border-radius: 20px;
  border: 0;
  box-sizing: border-box;
  margin: 0 0 15px;
  padding: 3%;
  padding-left: 7%;
  font-size: 15px;
}

#listAddDiv input:focus{
  border: 1px solid;
  border-color: #1ABC9C;
}

#listAddDiv input[type=submit] {
  margin-top: 20px;
  text-transform: uppercase;
  background: #16A085;
  color: white;
  cursor: pointer;
}

#listAddDiv input[type=submit]:hover,
#listAddDiv input[type=submit]:active,#listAddDiv input[type=submit]:focus {
  background: #1ABC9C;
}


.sideBar::-webkit-scrollbar-track,
#listsDiv::-webkit-scrollbar-track, .listDiv::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #2C3E50;
}

.sideBar::-webkit-scrollbar,
#listsDiv::-webkit-scrollbar, .listDiv::-webkit-scrollbar {
	width: 6px;
  height: 7px;
	background-color: #2C3E50;
}

.sideBar::-webkit-scrollbar-thumb,
#listsDiv::-webkit-scrollbar-thumb, .listDiv::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #1ABC9C;
}


#addTask {
  background: #34495E;
  outline: 0;
  border: 0;
  cursor: pointer;
  padding: 0;
  font-size: 16px;
  width: 80%;
  min-height: 36px;
  max-height: 36px;
  text-align: center;
  border-radius: 20px;
  border: 0;
}

#addTask p {
  font-family: 'Ubuntu', sans-serif;
  color: #1ABC9C;
  text-decoration: none;
  margin-right: 0;
  margin-bottom: 6px;
  margin-top: 12px;
  width: 132px;
  float: left;

}

#addTask i {
  margin: 0;
  color: #1ABC9C;
  font-size: 36px;
  width: 50px;
  max-height: 36px;
  min-height: 36px;
  padding: 0;
  float: left;
}

#addTask:focus, #addTask:hover, #addTask:active{

  background: #2C3E50;
}


/******** Lists Part **********/
#listsDiv {

  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  border: 0;
  border-top: 60px solid;
  border-left: 0px solid;

  padding-left: 15px;
  padding-right: 15px;
  overflow-y: hidden;
  overflow-x: overlay;
  z-index: -1;

  white-space: nowrap;
  transition: border-left .5s;
  box-sizing: border-box;
}



.listDiv {
  vertical-align: top;
  display: inline-block;
  box-sizing:border-box;
  width: 250px;
  margin: 0;
  outline: 0;
  border: 15px solid #2C3E50;
  height: 100%;

  overflow-x: hidden;
  overflow-y: overlay;
}

.list {
  padding: 10px;
  box-sizing:border-box;

  color: initial;
  background: #34495E;
  outline: 0;
  border: 0;

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 1px 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  color: white;
  white-space: initial;
  overflow: hidden;
  padding-bottom: 5px;
  padding-left: 5px;
  border-bottom: 2px solid #2C3E50;
  display:inline-flex;
  align-items: center;
}

.title p {
  margin: 0;
  border: 0;
  outline: 0;
  background: #34495E;
  width: 150px;
  text-align: left;
}

.checkboxes {
  padding-top: 5px;
}
.checkboxes label > input{
  padding-top: 20px;
}


.checkboxes :first-child {
    border-top: 0;
}

.checkboxes :last-child {
    border-bottom: 0;
}

.task {
  border-bottom: 1px solid #2C3E50;
  border-top: 1px solid #2C3E50;
  box-sizing: border-box;
  padding-top: 3px;
}

.checkedButton, .uncheckedButton {
  border: 0;
  outline: 0;
  cursor: pointer;
  background: #34495E;
  font-size: 16px;
  width: 155px;
  text-align: center;
  display:inline-flex;
  align-items: center;
}

.checkedButton p, .uncheckedButton p {
  font-family: 'Ubuntu', sans-serif;
  color: #1ABC9C;
  text-decoration: none;
  float: left;
  margin-bottom: 6px;
  margin-top: 8px;
  white-space: initial;
  overflow: hidden;
  max-width: 105px;
}

.checkedButton i, .uncheckedButton i, .submitAddTask i {
  margin: 0;
  color: #1ABC9C;
  font-size: 32px;
  height: 100%;
  width: 50px;
  min-width: 50px;
  max-height: 36px;
  min-height: 36px;
  padding: 0;

}

.erase, .delete {
  visibility: hidden;
  border: 0;
  outline: 0;
  background: #34495E;
  width: 50px;
  cursor: pointer;
  text-align: center;
  display:inline-flex;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}

.erase i, .delete i {
  margin: 0;
  font-size: 32px;
  height: 100%;
  width: 50px;
  max-height: 36px;
  min-height: 36px;
  padding: 0;
  -ms-transform: translate(-6px, 0);
  -webkit-transform: translate(-6px, 0);
  transform: translate(-6px, 0);
}

.erase i {
  color: #1ABC9C;
}

.delete i {
  color: #E74C3C;
}

.addTaskFromList {
  box-sizing: border-box;
  width: 100%;
  border-top: 2px solid #2C3E50;

}

.innerAddTask{
  display:inline-flex;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.submitAddTask {
  overflow: hidden;
  padding: 0;

  border: 0;
  outline: 0;
  background: #34495E;
  width: 50px;

  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  cursor: pointer;
}

.taskToAdd {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;

  width: 155px;
  height: 36px;

  box-sizing: border-box;
  padding: 3%;
  padding-left: 7%;
  outline: 0;
  border: 0;
  border-radius: 20px;

  background: #2C3E50;
  color: #1ABC9C;
}

.taskToAdd:focus{
  border: 1px solid #1ABC9C;
}


.task:hover .erase, .task:active .erase, .task:focus .erase,
.list:hover .delete, .list:active .delete, .list:focus .delete {
  visibility: visible;

}

.task:hover .erase i, .task:active .erase i, .task:focus .erase i,
.list:hover .delete i, .list:active .delete i, .list:focus .delete i {
  -ms-transform: translate(0px, 0);
  -webkit-transform: translate(0px, 0);
  transform: translate(0px, 0);
  transition: transform .5s;

}

#addTask:focus, #addTask:hover, #addTask:active{

  background: #2C3E50;
}

/******************************************/
/*************** PROFILE   ****************/
/******************************************/

#bioContainer {
  margin: auto;
  max-width: 70%;
  min-width: 320px;
  box-sizing: border-box;
  margin-top: 30px;
  margin-bottom: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 1px 5px 5px 0 rgba(0, 0, 0, 0.2);
}

#allUserInfo {
  margin: auto;
  position: relative;
  width: 100%;
  min-width: 320px;
  align-items: center;
  background: #34495E;
  box-sizing: border-box;
  padding: 10px;
  display:inline-flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-top: 20px;
}

#userInfo{
  display: inline-flex;
  width: 80%;
  min-width: 300px;

}

@media (max-width:900px) {
  #userInfo {
    flex-direction: column;
  }
}

#bio{

  outline: 0;
  width: 100%;

  border: 0;
  box-sizing: border-box;
  padding: 15px;
  font-size: 15px;
  display:inline-flex;
  flex-direction: column;
  text-align: center;
  align-items: left;
}

#imgBio {
  width: 300px;
  heigth: 300px;

}

.profileImg {
  width: 300px;
  heigth: 300px;

}

.bioDivs {
  border-radius: 45px;
  border: 3px solid rgb(255, 255, 255);
  padding: 20px;
  margin: 5px;

  font-family: 'Ubuntu', sans-serif;
  color: white;
}

.bioDivs:hover,
.bioDivs:active, .bioDivs:focus {
  background: #1ABC9C;
}

#about {
  margin-top: 20px;
  width: 75%;
}

.innerChangeAbout {
  display: inline-flex;
  text-align: center;
  align-items: center;
  width: 100%;
}

#aboutToChange {
  width: 80%;
  background: #2C3E50;
  color: white;
}

#fileToUpload {
  color: white;
}

.submitAddAbout {
  width:15%;
  margin: 0;
  margin-left: 5%;
  border: 1px solid #16A085;
  outline: 0;
  border-radius: 20px;
  text-transform: uppercase;
  background: #1ABC9C;
  color: white;
  cursor: pointer;
}


.submitAddAbout:hover,
.submitAddAbout:active, .submitAddAbout:focus {
  background: #16A085;
}



@media (max-width:950px) {
  .innerChangeAbout {
    flex-direction: column;
  }

  .submitAddAbout {
    width: 30%;
    min-width: 150px;
    margin-top: 20px;
    margin-left: 0;
  }

}
