#html {
  width: 100vh;
  height: 100vh;
  margin: 0;
}

body {
  margin: 0;
  background-color: #2C3E50;

}

header {
  width: 100%
  color: white;
  background: #34495E;
  min-height: 60px;
  max-height: 60px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 1px 5px 5px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}

header span{
  padding: 0;
  margin: 0;
}

.buttonIcons {
  color: initial;
  background: #34495E;
  outline: 0;
  border: 0;
  cursor: pointer;
  padding: 0;
  width: 60px;
  min-height: 60px;
  max-height: 60px;
  font-size: 24px;
}

.buttonsRight {
  float: right;
}


.buttonsLeft {
  float: left;
}

.buttonIcons i{
  margin: 0;
  color: white;
  font-size: 48px;
  width: 60px;
  min-height: 48px;
  max-height: 48px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.buttonIcons:focus, .buttonIcons:hover, .buttonIcons:active{

  background: #2C3E50;
  color: #1ABC9C;
}

.buttonIcons i:focus, .buttonIcons i:hover, .buttonIcons i:active{
  background: #2C3E50;
  color: #1ABC9C;
}

.list {
  float: left;
  color: initial;
  background: #34495E;
  outline: 0;
  border: 0;
  cursor: pointer;
  width: 150px;
  padding: 10px;
  margin: 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 1px 5px 5px 0 rgba(0, 0, 0, 0.2);
}



#login {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

body > header > * > a {
  text-align: center;
  text-decoration: none;
}

#accountButton{
  color:white;
  background-color: white;
}

/******** SideBar Part **********/
.sideBar {
  width: 0px;
  color: white;
  background: #34495E;

  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  margin-top: 60px;
  z-index: 0;
  height: 100%;
  /*padding-top: 60px;*/
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 1px 5px 5px 0 rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
  overflow-y: overlay;
  transition: 0.5s;
}

.sideBar form {
  transition: 0.3s;
}


.form {
  min-width: 240px;
  position: relative;

  text-align: center;
  background: #34495E;
  padding: 30px;
  margin: 0 auto 0;
  margin-bottom: 100px;

}

#listAddDiv input{
  font-family: 'Roboto Condensed', sans-serif;
  outline: 0;
  width: 80%;
  background: #2C3E50;
  color: #1ABC9C;
  border-radius: 20px;
  border: 0;
  box-sizing: border-box;
  margin: 0 0 15px;
  padding: 3%;
  padding-left: 7%;
  font-size: 15px;
}

#listAddDiv input:focus{
  border: 1px solid;
  border-color: #1ABC9C;
}

#listAddDiv input[type=submit] {
  margin-top: 20px;
  text-transform: uppercase;
  background: #16A085;
  color: white;
  cursor: pointer;
}

#listAddDiv input[type=submit]:hover,
#listAddDiv input[type=submit]:active,#listAddDiv input[type=submit]:focus {
  background: #1ABC9C;
}

#addTask {

}

.sideBar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #2C3E50;
}

.sideBar::-webkit-scrollbar
{
	width: 6px;
	background-color: #2C3E50;
}

.sideBar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #1ABC9C;
}


#addTask {
  background: #34495E;
  outline: 0;
  border: 0;
  cursor: pointer;
  padding: 0;
  font-size: 16px;
  width: 80%;
  min-height: 36px;
  max-height: 36px;
  text-align: center;
  border-radius: 20px;
  border: 0;
}

#addTask p {
  font-family: 'Roboto Condensed', sans-serif;
  color: #1ABC9C;
  text-decoration: none;
  margin-right: 0;
  margin-bottom: 6px;
  margin-top: 12px;
  width: 132px;
  float: left;

}

#addTask i {
  margin: 0;
  color: #1ABC9C;
  font-size: 36px;
  width: 50px;
  max-height: 36px;
  min-height: 36px;
  padding: 0;
  float: left;
}

#addTask:focus, #addTask:hover, #addTask:active{

  background: #2C3E50;
}
/*
#addTask i:focus, #addTask i:hover, #addTask i:active{
  background: #2C3E50;
  color: #1ABC9C;
} */


/******** Lists Part **********/
#listsDiv {
  float: left;
  min-height: 100%;
  margin-left: 15px;
  transition: margin-left .5s;
}
