html > *{
    background-color: rgb(50, 50, 50);
}

body {
  width: 80em;
  margin: 0 auto;

}

#login {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

body > header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  grid-area: header;
}
