body {
  margin: 0;
  background: #2C3E50;
}


#login, #signup {
  margin: auto;
  max-width: 320px;
  box-sizing: border-box;
  padding: 8% 0 8%;
}

.form {
  min-width: 260px;
  position: relative;

  text-align: center;
  background: #34495E;
  padding: 30px;
  margin: 0 auto 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 1px 5px 5px 0 rgba(0, 0, 0, 0.2);

}

#signIn input, #register input{
  font-family: 'Roboto Condensed', sans-serif;
  outline: 0;
  width: 80%;
  background: #2C3E50;
  color: #1ABC9C;
  border-radius: 20px;
  border: 0;
  box-sizing: border-box;
  margin: 0 0 15px;
  padding: 3%;
  padding-left: 7%;
  font-size: 15px;
}

#signIn input:focus, #register input:focus{
  border: 1px solid;
  border-color: #1ABC9C;
}

#signIn input[type=submit], #register input[type=submit] {
  text-transform: uppercase;
  background: #16A085;
  color: white;
  cursor: pointer;
}

#signIn input[type=submit]:hover,#signIn input[type=submit]:active,
#signIn input[type=submit]:focus, #register input[type=submit]:hover,
#register input[type=submit]:active,#register input[type=submit]:focus {
  background: #1ABC9C;
}

.text {
  font-size: 0.9em;
  margin: 15 0 0;
  color: white;
}

.text > a {
  text-decoration: none;
  color: #1ABC9C;
}

body > header > * > a {
  width: 100%;
  margin: auto;
  color: white;
  text-align: center;
  text-decoration: none;
}

body > header {
  background: #2a2f3f;
  color: white;
  display: flex;
  align-items: center;
}

#info {
    background: #2a2f3f;
    color: white;
    display: flex;
    align-items: center;

  }

  #info a {
    text-decoration: none;
    color: black;
  }

  #info > a {
    background-color: white;
    color: white;
    padding: 0 1em;
    font-size: 1.5em;
    align-self: flex-end;
  }

  #info img {
    display: inline-block;
    padding: 1em 0;
    margin-left: 1em;
    margin-top: 10px;
    width: 100px;
  }

  #info h1 {
    font-size: 4em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    color: rgb(255, 255, 255);
    margin: 0;
    margin-left: 5px;
    flex-grow: 1;
  }

  #lists {
    display: inline-block;
    margin-left: 63%;
    height:48px;
    width:48px;
  }

  #profile {
    display: inline-block;
    margin-left: 10px;
    height:48px;
    width:48px;
  }

  #logout {
    display: inline-block;
    margin-left: 10px;


  }
